.weatherContainer {
    background-color: #D3D3D3;
    margin: 10vh;
    padding: 10vh;
    display: flex;
    flex-wrap: center;
    justify-content: space-between;
}

.weahterCard {
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    min-width: 30fr;
    padding: 5vh;
}